.form-group
  %label.control-label.col-lg-2 Maxlength:
  .col-lg-2
    = f.text_field :maxlength, :class => 'form-control'
  %label.control-label.col-lg-2
    = f.check_box :required
    = f.label :required
    = f.check_box :disabled
    = f.label :disabled
.form-group
  .col-lg-2
    = f.label :hint, :class => "control-label pull-right"
  .col-lg-2
    = f.text_field :hint, :class => 'form-control'
  .col-lg-2
    = f.label :placeholder, :class => "control-label pull-right"
  .col-lg-2
    = f.text_field :placeholder, :class => 'form-control'
