.form-group
  %label.control-label.col-lg-2 Hint:
  .col-lg-2
    = f.text_field :hint, :class => 'form-control'
  %label.control-label.col-lg-2
    = f.check_box :required
    = f.label :required
    = f.check_box :disabled
    = f.label :disabled
    %div{:style => 'width: 240px;'}