- field1 = f.object || CustomFieldPair.new
- field2 = f.object.respond_to?(:paired_with) ? field1.paired_with : CustomFieldPair.new

= fields_for("pair[0]", field1) do |first|
  = fields_for("pair[1]", field2) do |second|
    .form-group
      %label.control-label.col-lg-2 Hint:
      .col-lg-2
        = first.text_field :hint, :class => 'form-control'
      %label.control-label.col-lg-2
        = first.check_box :required
        = f.label :required
        = first.check_box :disabled
        = f.label :disabled
        = first.hidden_field :id
        = second.hidden_field :id
        %div{:style => 'width: 240px;'}
