.form-group
  %label.control-label.col-lg-2
    = "Select Options (pipe separated):"
  .col-lg-5
    = f.text_field :collection_string, :class => 'field_collection_string form-control', :size => 78

= render :partial => 'admin/custom_fields/base_field', :locals => {:f => f}
