.form-group
  %label.control-label.col-lg-2
    = "Select Options (pipe separated):"
  .col-lg-5
    = f.text_field :collection_string, :class => 'field_collection_string form-control', :size => 78

.form-group
  %label.control-label.col-lg-4
    = f.check_box :required
    = f.label :required
    = f.check_box :disabled
    = f.label :disabled
.form-group
  %label.control-label.col-lg-2 Hint:
  .col-lg-2
    = f.text_field :hint, :class => 'form-control'
  %label.control-label.col-lg-2 Placeholder:
  .col-lg-2
    = f.text_field :placeholder, :class => 'form-control'
