%li.list-group-item.highlight.position{:class => field.class.name.underscore, :id => dom_id(field)}
  %span.handle
    %img( src="/assets/sortable.gif" )

  %span.pull-right
    %small
      = link_to t(:edit), edit_admin_field_path(field), :class => 'edit btn btn-primary btn-xs'
      = link_to_delete(field, :url => admin_field_path(field), :klass_name => 'Field')

  %tt
    %b= field.label
    == (#{t("field_types.#{field.as}.title")})

    = t(:added_ago, value: timeago(field.created_at)).html_safe
    = hook(:field_bottom, self, :field => field) {}

  .edit_field
