- @field ||= CustomField.new
- field_group_id ||= @field.field_group_id
- new_field = @field.id.nil?
- url = new_field ? admin_fields_path : admin_field_path
- html_id = new_field ? nil : "edit_field_#{@field.id}"

%div{:class => new_field ? nil : 'remote edit_field'}
  = form_for([:admin, @field], :url => url, :as => :field, :html => {:class => 'form-horizontal', :id => html_id}, :remote => true) do |f|
    = link_to( 'x', '#', :class => 'close', :title => t(:close_form) )
    = f.error_messages :class => 'alert alert-block alert-danger'

    = hidden_field_tag 'field[field_group_id]', field_group_id, :id => nil

    .panel.panel-default
      .panel-body
        .form-group
          %label.col-lg-2.control-label Field label:
          .col-lg-2
            = f.text_field :label, :id => nil, :class => 'form-control'
          %label.col-lg-2.control-label Field type:
          .col-lg-2
            = select :field, :as, field_edit_as_options(@field), {:include_blank => true}, {:id => nil, :class => 'form-control'}

        .form-group.subform
          = render(:partial => 'admin/fields/subform') unless new_field

      .panel-footer
        - if new_field
          = f.submit t(:create_field), :id => :field_submit, :class => 'btn btn-primary'
        - else
          = f.submit t(:save_field), :id => :field_submit, :class => 'btn btn-primary'
        = link_to( t(:cancel), '#', :class => 'cancel btn btn-danger' )
