
= styles_for :fields

%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-ex1-collapse
    = view_buttons

  .navbar-header
    %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse",  "data-target" => ".navbar-ex1-collapse"}
      %span.sr-only= "Toggle navigation"
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand
      %span#create_field_title #{t :admin_tab_fields}
      = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

.panel.panel-default
  .panel-body
    .info= t(:admin_fields_info).html_safe
    .info2{:style => 'color:red;'}= t(:admin_fields_info2)
    %br
    .inline_tabs.navcontainer
      %ul.navlist
        - list_of_entities.each do |entity|
          - asset = entity.downcase
          %li{ "data-tab-class" => asset, :class => ("selected" if entity == 'Contact') }
            = link_to t(entity), "#", :class => 'btn btn-info popovers'

- list_of_entities.each do |entity|
  - asset = entity.downcase
  - klass = asset.classify.constantize
  .fields{ :id => "#{asset}_section", :style => ("display: none;" if asset != 'contact') }

    - create_form_id = "#{asset}_create_field_group"

    %nav.navbar.navbar-default{:role => "navigation"}
      .navbar-ex1-collapse
        = view_buttons
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to_inline(create_form_id, new_admin_field_group_path(:klass_name => klass.name), :text => t(:create_field_group), :class => "btn")

      .navbar-header
        %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse",  "data-target" => ".navbar-ex1-collapse"}
          %span.sr-only= "Toggle navigation"
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand
          %span#create_field_title #{t(asset)}
          = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

    %ul.list-group{ :id => "#{asset}_field_groups", 'data-sortable' =>  sort_admin_field_groups_path(:asset => asset) }
      = render :partial => "admin/field_groups/field_group", :collection => klass.field_groups, :locals => {:asset => asset, :klass => klass}

    .remote{ hidden.merge(:id => create_form_id) }
