var $asteriskStatus = $("<p/>", {class:"asterisk-call-status"}).text("Outgoing call:"),
	$asteriskName = $("<span/>", {class:"asterisk-callee-name"}).text("<%= @object.full_name %> : "),
	$asteriskPhone = $("<span/>", {class:"asterisk-callee-number"}).text("<%= @number %>"),
	$asteriskResult = $("<span/>", {class:"asterisk-call-result"}).text("Result : <%= @success %>"),
	$asteriskMessage = $("<span/>", {class:"asterisk-call-message"}).text("<%= @message %>"),
	$asteriskContainer = ($("div.asterisk-container").length == 0) ? $("<div/>", {class:"asterisk-container"}) : $("div.asterisk-container"),
	$asteriskWrapper = ($("div.asterisk-wrapper").length == 0) ? $("<div/>", {class:"asterisk-wrapper"}) : $("div.asterisk-wrapper"),
	$asteriskItem = $("<div/>", {class: "asterisk-item"}),
	$closeButton = $("<span/>", {class:"asterisk-close"}).text("x");

	$asteriskItem.append($asteriskStatus, $asteriskName, $asteriskPhone, $closeButton, $("<br/>"), $asteriskResult, $("<br/>"), $asteriskMessage);
	$asteriskWrapper.append($asteriskItem);
	if($(".asterisk-wrapper").length == 0)
	{
		if($("div.asterisk-container").length == 0)
		{
			$asteriskContainer.append($asteriskWrapper).appendTo($("body"));
		}
		else 
		{
			$("div.asterisk-container").append($asteriskContainer);
		}
	}

	$closeButton.click(function() {
		$item = $(this).parent(".asterisk-item");
		$item.hide("slow", function(){ $(this).remove(); })
	})