- class_name = commentable.class.name.underscore
.comment{:style => "margin: 5px 0px 0px 0px"}
  .col-lg-1
    = link_to avatar_for(current_user, :size => :small), user_path(current_user)
  .col-lg-6
    = form_for(@comment, :remote => true) do |f|
      = hidden_field_tag "comment[commentable_id]", commentable.id
      = hidden_field_tag "comment[commentable_type]", class_name.classify
      = f.text_area :comment, :id => dom_id(@comment, :text), :class => "form-control", :rows => "5"
      .buttons
        = f.submit t(:save_note), :class => "btn btn-primary btn-xs"
        = link_to(t(:cancel), edit_comment_path(@comment, "#{class_name}_id" => commentable.id, :cancel => true), :remote => true, :class => "btn btn-danger btn-xs")
