%li.list-group-item.clearfix[completed]
  - unless completed.category.blank?
    %span.label{:class => completed.category}= t(completed.category)
  - else
    %span.label.white #{t :other}

  %span.pull-right
    - if shown_on_landing_page?
      = link_to_discard(completed)
    - if can?(:manage, completed)
      = link_to_task_uncomplete(completed, bucket)
      = link_to_task_delete(completed, bucket)

  %span
    %strike= auto_link h(completed.name)
    - if completed.asset_id?
      == #{t :related} #{link_to(h(completed.asset.name), polymorphic_url(completed.asset))}
    &ndash;
    %tt
      %span.cool
        -# :task_completed_by: "completed {{time_ago}} ago by {{user}}"
        = t(:task_completed_by, :time_ago => distance_of_time_in_words(completed.completed_at, Time.now), :date => l(completed.completed_at, :format => :long), :user => ((completed.completor.id != current_user.id) ? link_to(completed.completor.full_name, user_path(completed.completor)) : t(:me))).html_safe
    - unless completed.background_info.blank?
      %div
        %dt= h(completed.background_info)
