= simple_form_for(@task, :html => one_submit_only.update(:class => "form-horizontal"), :remote => true) do |f|
  = link_to_close edit_task_path(@task)
  = hidden_field_tag :view, @view
  = hidden_field_tag "task[asset_id]", "#{@asset.id if @asset}"
  = hidden_field_tag "task[asset_type]", "#{@asset.class if @asset}"

  %section.panel
    .panel-body
      = render "tasks/top_section",    :f => f, :edit => true
      = render "fields/groups", :f => f, :edit => true

    .panel-footer
      = f.submit t(:save_task), :class => "btn btn-primary"
      = link_to_cancel edit_task_path(@task), :class => "btn btn-danger"
      == #{t :or} #{t :move_to}
      - [ "ASAP", "Today", "Tomorrow", "This week", "Next week", "Later" ].each do |day|
        - due_day = "due_#{day.snakecase}"
        = link_to(t(due_day.to_sym), "#", :onclick => %Q/crm.reschedule_task(#{@task.id}, "#{due_day}")/)
        = " | " if day != "Later"
