%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-ex1-collapse
    = view_buttons
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to_inline(:create_task, url_for(:action => :new, :view => @view), :text => t(:create_task), :class => "btn")

  .navbar-header
    %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse",  "data-target" => ".navbar-ex1-collapse"}
      %span.sr-only= "Toggle navigation"
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand
      = (@view == "assigned" ? t(:assigned_tasks) : t(:tasks))
      = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")
.remote#options{ hidden }
.remote#create_task{ hidden }
