.form-group
  %label.col-lg-2.control-label #{t :name}:
  .col-lg-4
    = f.text_field :name, :class => "form-control"
.form-group
  %label.col-lg-2.control-label #{t :due}:
  .col-lg-3
    - bucket = (params[:bucket].blank? ? @task.bucket : params[:bucket]) || "due_asap"
    - with_time = Setting.task_calendar_with_time
    - if @task.bucket != "specific_time"
      = f.select :bucket, @bucket, { :selected => bucket.to_sym }, { :onchange => "crm.flip_calendar(this.value)", :class => "form-control" }
      = f.text_field :calendar, :style => "display:none;", :autocomplete => :off, :class => (with_time ? 'datetime form-control' : 'date form-control')
    - else
      = f.select :bucket, @bucket, { :selected => :specific_time }, { :style => "display:none;", :onchange => "crm.flip_calendar(this.value)", :class => "form-control" }
      - fmt = with_time ? '%Y-%m-%d %H:%M' : '%Y-%m-%d'
      = f.text_field :calendar, :value => f.object.due_at.strftime(fmt), :class => "form-control", :autocomplete => :off, :class => (with_time ? 'datetime form-control' : 'date form-control')
  %label.col-lg-1.control-label #{t :assign_to}:
  .col-lg-2
    = user_select(:task, all_users, current_user)
  %label.col-lg-1.control-label #{t :category}:
  .col-lg-2
    = f.select :category, @category, { :selected => @task.category.blank? ? nil : @task.category.to_sym, :include_blank => t(:select_blank) }, :class => "form-control"

- if Setting.background_info && Setting.background_info.include?(:task)
  .form-group
    %label.col-lg-2.control-label= t(:extra_info).capitalize << ':'
    .col-lg-3
      = f.text_area :background_info, :class => "form-control"

= hook(:task_top_section_bottom, self, :f => f) {}
