- model = controller.controller_name.classify.constantize
- sort_by_menu_items = model.sort_by_fields.map { |field| options_menu_item(:sort_by, field) }
- current_sort_by = t("option_" + model.sort_by_map.invert[@sort_by])

%div.row
  .col-lg-2
    = text_field_tag('query', @current_query, :size => 32, :placeholder => "Search #{controller_name}", :class => "form-control")
  .col-lg-3
    %span.sorting_options.form-control
      -# sort_by_displaying: Sort {{models}} by {{field}} displaying first name {{position}} last name.
      = t(:sort_by, :models => t(:"#{controller_name}_small"), :field => link_to(current_sort_by, "#", :id => :sort_by)).html_safe

:javascript
  var searchTimeout;

  $('#query').on('keydown', function(event) {
    $el = $(event.target)
    if (searchTimeout) clearTimeout(searchTimeout);
    searchTimeout = setTimeout(function () { crm.search($el.val(), '#{controller_name}'); }, 500);
  });

  new crm.Menu({
    trigger   : "#sort_by",
    fade      : 500,
    appear    : 500,
    menu_items: [ #{sort_by_menu_items.join(",")} ]
  });
