%section.panel#search
  %header.panel-heading.tab-bg-primary
    %ul.nav.nav-tabs
      %li.active
        = link_to t('basic_search'), '#basic_search', "data-toggle" => "tab", :"data-search-form" => "basic_search"
      %li
        = link_to t('advanced_search'), '#advanced_search', "data-toggle" => "tab", :"data-search-form" => "advanced_search"

  .panel-body
    #search_results_count{:class => "form-group"}
      = t('search_results_count', :count => @search_results_count)

    .tab-content
      .tab-pane.search_form#basic_search.active
        = render "basic_search"

      .tab-pane.search_form#advanced_search
        = ransack_ui_search :remote => true, :theme => 'bootstrap'
