- model_name = controller_name.singularize
- model_klass = model_name.camelcase.constantize

%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-ex1-collapse
    = view_buttons
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to_inline("create_#{model_name}".to_sym, send("new_#{model_name}_path"), :text => t("create_#{model_name}".to_sym), :class => "btn")

  .navbar-header
    %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse",  "data-target" => ".navbar-ex1-collapse"}
      %span.sr-only= "Toggle navigation"
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand
      %span{:id => "create_#{model_name}_title"} #{t controller_name.to_sym}
      = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")
