= content_for(:javascript_epilogue) do
  :plain
    document.observe("dom:loaded", function() {
      new Effect.Move("standalone", { x:0, y:-16, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
        new Effect.Move("standalone", { x:0, y:16, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
          new Effect.Move("standalone", { x:0, y:-8, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
            new Effect.Move("standalone", { x:0, y:8, mode:"relative", fps:100, duration:0.15 });
          }});
        }});
      }});
    });

.login-form
  -# The following form gets submitted to #create when @authentication is nil,
  -# or to #update when @authentication is not nil (ex. suspended).
  = form_for @authentication, :url => authentication_path, :html => one_submit_only do |f|
    .login-wrap
      %p.login-img
        %i.icon_lock_alt
      .input-group
        %span.input-group-addon
          %i.icon_profile
        = f.text_field :username, :type => "text", :class => "form-control", :placeholder => "Username", :autofocus => "true"
      .input-group
        %span.input-group-addon
          %i.icon_key_alt
        = f.password_field :password, :type => "password", :class => "form-control", :placeholder => "Password"
      %label.checkbox
        = f.check_box :remember_me
        = t(:remember_me)
        %span.pull-right
          = link_to t(:forgot_password) << '?', new_password_path
      = f.submit :login, :class => "btn btn-primary btn-lg btn-block", :value => t(:login)
      - if can_signup?
        %button.btn.btn-info.btn-lg.btn-block{:action => signup_path}= t(:sign_up_now)
