%section.panel
  = form_for(@user, :url => change_password_user_path(@user), :html => one_submit_only.update(:class => "form-horizontal",), :remote => true) do |f|
    = link_to_close password_user_path(@user)

    = f.error_messages :object_name => t('password'), :class => 'alert alert-block alert-danger'

    .form-group
      %label.col-lg-2.control-label #{t :current_password}:
      .col-lg-4
        = password_field_tag :current_password, nil, :class => "form-control"
    .form-group
      %label.col-lg-2.control-label #{t :new_password}:
      .col-lg-4
        = f.password_field :password, :class => "form-control"
      %label.col-lg-2.control-label #{t :password_confirmation}:
      .col-lg-4
        = f.password_field :password_confirmation, :class => "form-control"

    .col-lg-offset-2.col-lg-10
      = f.submit t(:change_password), :class => "btn btn-primary"
      = link_to_cancel password_user_path(@user), :class => "btn btn-danger"
