%section.panel
  .panel-body.bio-graph-info
    = form_for(@user, :html => {:class => "form-horizontal", :role => "form"}, :remote => true) do |f|
      = link_to_close edit_user_path(@user)

      = f.error_messages :object_name => t('user'), :class => 'alert alert-block alert-danger'
      .form-group
        %label.col-lg-2.control-label #{t :first_name}:
        .col-lg-3
          = f.text_field :first_name, :class => "form-control"
        %label.col-lg-2.control-label #{t :last_name}:
        .col-lg-3
          = f.text_field :last_name, :class => "form-control"
      .form-group
        %label.col-lg-2.control-label #{t :job_title}:
        .col-lg-3
          = f.text_field :title, :class => "form-control"
        %label.col-lg-2.control-label #{t :company}:
        .col-lg-3
          = f.text_field :company, :class => "form-control"

      .form-group
        %h4 #{t :contact_info}
      .form-group
        %label.col-lg-2.control-label #{t :email}:
        .col-lg-3
          = f.text_field :email, :class => "form-control"
        %label.col-lg-2.control-label #{t :alt_email}:
        .col-lg-3
          = f.text_field :alt_email, :class => "form-control"
      .form-group
        %label.col-lg-2.control-label #{t :phone}:
        .col-lg-3
          = f.text_field :phone, :class => "form-control"
        %label.col-lg-2.control-label #{t :mobile}:
        .col-lg-3
          = f.text_field :mobile, :class => "form-control"
      .form-group
        %label.col-lg-1.control-label #{t :aim}:
        .col-lg-2
          = f.text_field :aim, :class => "form-control"
        %label.col-lg-1.control-label #{t :yahoo}:
        .col-lg-2
          = f.text_field :yahoo, :class => "form-control"
        %label.col-lg-1.control-label #{t :google}:
        .col-lg-2
          = f.text_field :google, :class => "form-control"
        %label.col-lg-1.control-label #{t :skype}:
        .col-lg-2
          = f.text_field :skype, :class => "form-control"

      .col-lg-offset-2.col-lg-10
        = f.submit t(:save_profile), :class => "btn btn-primary"
        = link_to_cancel edit_user_path(@user), :class => "btn btn-danger"

= hook(:profile_user_bottom, self) {}
