- if @user == current_user && Setting.per_user_locale
  %div#options(style="float:right")
    #{t :profile_language}: #{link_to(language_for(current_user), "#", :id => :locale)}

.col-lg-2.col-sm-2
  %h4= h(@user.full_name)
  .follow-ava
    = avatar_for(@user)
  - if current_user.admin?
    %h6= "Administrator"
  - else
    %h6= "User"
.col-lg-4.col-sm-4.follow-info
  - if !@user.title.blank? && !@user.company.blank?
    %p= t(:works_at, :job_title => h(@user.title), :company => h(@user.company))
  - else
    = p(@user.title) unless @user.title.blank?
    = p(@user.company) unless @user.company.blank?
  %p= "@#{@user.username}"
.col-lg-6.col-sm-6.follow-info.weather-category
  %div
    #{t :email}: #{auto_link(@user.email).html_safe}
    - unless @user.alt_email.blank?
      #{t :or} #{auto_link(@user.alt_email).html_safe}
  - if !@user.phone.blank? && !@user.mobile.blank?
    %div #{t :phone}: <b>#{@user.phone}</b>, #{t :mobile}: <b>#{@user.mobile}</b>
  - else
    = "#{t :phone}: #{@user.phone}" unless @user.phone.blank?
    = "#{t :mobile}: #{@user.mobile}" unless @user.mobile.blank?

- if Setting.per_user_locale
  %script= render "languages"
