.standalone
  = form_for(@user, :html => one_submit_only) do |f|
    .title_tools #{t :already_signed_up} #{link_to t(:login_now_link), login_path}
    .title #{t :sign_up}

    = f.error_messages :object_name => t('user'), :class => 'alert alert-block alert-danger'

    .section
      .label #{t :email}:
      = f.text_field :email
      .label #{t :username}:
      = f.text_field :username
      .label #{t :password}:
      = f.password_field :password
      .label #{t :password_confirmation}:
      = f.password_field :password_confirmation

    .buttonbar
      = f.submit t(:sign_up_button)
