.row
  .col-lg-12
    .profile-widget.profile-widget-info
      .panel-body#profile= render "user"

.row
  - if @user == current_user || current_user.admin?
    .col-lg-12
      %section.panel
        %header.panel-heading.tab-bg-info
          %ul.nav.nav-tabs
            %li
              = link_to_inline(:edit_profile, edit_user_path(@user), :text => t(:edit_profile))
            %li
              = link_to_inline(:upload_avatar, avatar_user_path(@user), :text => t(:upload_picture))
            %li
              = link_to_inline(:change_password, password_user_path(@user), :text => t(:change_password))
        .panel-body
          .tab-content
            %div#edit_profile.tab-pane{ :hidden => true }
            %div#upload_avatar.tab-pane{ :hidden => true }
            %div#change_password.tab-pane{ :hidden => true }

= hook(:show_user_bottom, self) {}

%iframe#uploading{ :name => "uploading", :style => "width:100px; height:10px; border:5px" }
