- address_type = type.to_s.camelize
- address_attr = "#{type}_address"
- address = get_address(asset, address_attr)

- same_as_billing ||= false

= f.fields_for(address_attr.to_sym) do |a|
  = a.hidden_field :address_type, :value => address_type
  - unless Setting.compound_address
    - if same_as_billing
      %div
        %span(style="float:right")
          = link_to_function(t(:same_as_billing), "crm.copy_address('account_shipping_address', 'account_billing_address')")
        %label.control-label #{t title}:
    - else
      %label.control-label #{t title}:
    = a.text_area :full_address, :rows => 4, :class => "form-control"
  - else
    %section.panel
      %header.panel-heading
        - if same_as_billing
          %div
            %span(style="float:right")
              = link_to_function(t(:same_as_billing), "crm.copy_compound_address('account_billing_address', 'account_shipping_address')")
            %label.control-label #{t title}:
        - else
          %label.control-label #{t title}:
      .panel-body
        .form-group
          .col-lg-12
            = address_field(a, address, :street1)
        .form-group
          .col-lg-12
            = address_field(a, address, :street2)
        .form-group
          .col-lg-9
            = address_field(a, address, :city)
          .col-lg-3
            = address_field(a, address, :state)
        .form-group
          .col-lg-4
            = address_field(a, address, :zipcode)
          .col-lg-8
            = a.country_select(:country, priority_countries, { :include_blank => "" }, {:"data-placeholder" => t(:select_a_country), :class => 'select2 form-control'})
