= image_tag("loading.gif", size: 'thumb', class: "spinner", style: "display: none;")
= paginate

.per_page_options
  %ul.pagination.pagination-sm
    - [ 10, 20, 30, 50 ].each do |count|
      - if count == @per_page.to_i
        %li
          = link_to count, send("redraw_#{controller.controller_name}_path", per_page: count, query: params[:query], q: params[:q]), remote: true, :class => "active"
      - else
        %li
          = link_to count, send("redraw_#{controller.controller_name}_path", per_page: count, query: params[:query], q: params[:q]), remote: true
