- asset = controller_name.singularize
.form-group
  %label.col-lg-2.control-label= t(:tags) + ":"
  .col-lg-6
    = f.hidden_field :tag_list,
    {:class => "select2_tag form-control", :data => {:tags => Tag.all.map{|t| t.name},
    :url => url_for(action: 'field_group'), :placeholder => t(:select_or_create_tags),
    :multiple => true, :asset_id => f.object.try(:id) }}
