- edit ||= false
- collapsed = session[:lead_contact].nil? # && @lead.errors.empty?
= subtitle :lead_contact, collapsed, t(:contact_info)
.section
  %small#lead_contact_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:lead_info_small)) unless edit
  #lead_contact{ hidden_if(collapsed) }
    .form-group
      %label.col-lg-2.control-label #{t :job_title}:
      .col-lg-3
        = f.text_field :title, :class => "form-control"
      %label.col-lg-2.control-label #{t :company}:
      .col-lg-3
        = f.autocomplete_field :company, autocomplete_account_name_leads_path, :class => "form-control"
    .form-group
      %label.col-lg-2.control-label #{t :alt_email}:
      .col-lg-3
        = f.text_field :alt_email, :class => "form-control"
        
    .form-group
      .col-lg-6
        = render "shared/address", :f => f, :asset => @lead, :type => 'business', :title => :address
      .col-lg-6
        .row
          %label.col-lg-3.control-label #{t :referred_by}:
          .col-lg-3
            = f.text_field :referred_by, :class => "form-control"
        .row
          .col-lg-6
            = f.check_box :do_not_call, {}, true
            #{t :do_not_call}
