= form_for(@lead, :url => promote_lead_path(@lead), :html => one_submit_only.update(:class => "form-horizontal"), :remote => true) do |f|
  = link_to_close convert_lead_path(@lead)
  = fields_for(@account) do |a|
    = a.hidden_field :user_id
    = a.hidden_field :access

    = error_messages_for :account, :opportunity, :object_name => t('lead')

    %section.panel
      .panel-body
        %small
          #{t(:convert_lead_text, @lead.full_name)}
        .form-group
          = account_select_or_create(a)
          %label.col-lg-2.control-label #{t :assigned_to}:
          .col-lg-2
            = user_select(:account, all_users, current_user)
        = render "leads/opportunity"
        = render "leads/convert_permissions"
      .panel-footer
        = f.submit t(:convert_lead), :class => "btn btn-primary"
        = link_to_cancel convert_lead_path(@lead), :class => "btn btn-danger"
