- edit ||= false
- collapsed = session[:lead_presence].nil? # && @lead.errors.empty?
= subtitle :lead_presence, collapsed, t(:credit_card)
.section
  %small#lead_presence_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:web_presence_small)) unless edit
  #lead_presence{ hidden_if(collapsed) }
    .form-group
      %label.col-lg-2.control-label #{t :card_holder}:
      .col-lg-3
        = f.text_field :cc_holder, :class => "form-control"
      %label.col-lg-2.control-label #{t :card_number}:
      .col-lg-3
        = f.text_field :cc_number, :class => "form-control"
    .form-group
      %label.col-lg-2.control-label #{t :cc_exp_year}:
      .col-lg-3
        = f.select :cc_exp_year, options_for_select(Date.today.year.to_i..(Date.today.year + 10).to_i, :selected => :cc_exp_year), {}, {:class => "form-control"}
        %script
          $(document).ready(function() {$("#lead_cc_exp_year").val("#{@lead.cc_exp_year}")} );
      %label.col-lg-2.control-label #{t :cc_exp_month}:
      .col-lg-3
        = f.select :cc_exp_month, options_for_select(1..12, :selected => :cc_exp_month), {}, :class => "form-control"
        %script
          $(document).ready(function() {$("#lead_cc_exp_month").val("#{@lead.cc_exp_month}")} );

    .form-group
      %label.col-lg-2.control-label #{t :cc_sec_code}:
      .col-lg-2
        = f.text_field :cc_sec_code, :class => "form-control", :input_html => {:maxlength => 3, :size => 40}
        