= simple_form_for(@lead, :html => one_submit_only.update(:class => "form-horizontal"), :remote => true) do |f|
  = link_to_close edit_lead_path(@lead)
  = f.hidden_field :user_id

  = f.error_messages :object_name => t('lead'), :class => 'alert alert-block alert-danger'

  %section.panel
    .panel-body
      = render "leads/top_section",    :f => f, :edit => true
      = render "fields/edit_custom_field_group", :f => f, :edit => true
      = render "leads/status",         :f => f, :edit => true
      = render "leads/contact",        :f => f, :edit => true
      = render "leads/creditcard",     :f => f, :edit => true
      = render "leads/web",            :f => f, :edit => true
      = render "fields/groups",        :f => f, :edit => true
      = render "entities/permissions", :f => f, :edit => true, :entity => @lead
      = hook(:entity_form, self, {f: f, entity: @lead}) {}

    .panel-footer
      - if Setting.compound_address
        = f.submit t(:save_lead), :onclick => "crm.clear_all_hints()", :class => "btn btn-primary"
      - else
        = f.submit t(:save_lead), :class => "btn btn-primary"
      = link_to_cancel edit_lead_path(@lead), :class => "btn btn-danger"
