%li.list-group-item.clearfix[lead]
  - if lead.status
    %span.label{:class => lead.status}= t lead.status
  - else
    %span.label{:style => "color: gray;"}= t :other

  %span.pull-right
    - if can?(:update, lead)
      = link_to_edit(lead)

    - if %w(converted rejected).include?(lead.status)
      %font{ :color => 'silver' }= t :convert
    - elsif can?(:update, lead)
      = link_to_convert(lead)

    - if lead.status == "rejected"
      %font{ :color => 'silver' }= t :reject
    - elsif can?(:update, lead)
      = link_to_reject(lead)

    - if shown_on_landing_page?
      = link_to_discard(lead)

    - if can?(:destroy, lead)
      = link_to_delete(lead)

  %span
    = link_to_if can?(:read, lead), lead.full_name(current_user.preference[:leads_naming]), lead
    %tt
      - if lead.company? && lead.title?
        = t(:works_at, :job_title => lead.title, :company => lead.company)
      - else
        = lead.company if lead.company?
        = lead.title if lead.title?
      - if lead.referred_by?
        &ndash;
        == #{t :referred_by_small} #{lead.referred_by}

    = hook(:lead_bottom, self, :lead => lead) {}
