%li.highlight[lead]
  - if lead.status
    %span.label{:class => lead.status}= t lead.status
  - else
    %span.label{:style => "color: gray;"}= t :other

  %ul.tools
    - if can?(:update, lead)
      %li= link_to_edit(lead)

    - if %w(converted rejected).include?(lead.status)
      %li
        %font{ :color => 'silver' }= t :convert
    - elsif can?(:update, lead)
      %li= link_to_convert(lead)

    - if lead.status == "rejected"
      %li
        %font{ :color => 'silver' }= t :reject
    - elsif can?(:update, lead)
      %li= link_to_reject(lead)

    - if shown_on_landing_page?
      %li= link_to_discard(lead)

    - if can?(:destroy, lead)
      %li= link_to_delete(lead)

  .indent
    = link_to_if can?(:read, lead), lead.full_name(current_user.preference[:leads_naming]), lead
    %tt
      - if lead.company? && lead.title?
        = t(:works_at, :job_title => lead.title, :company => lead.company)
      - else
        = lead.company if lead.company?
        = lead.title if lead.title?
      - if lead.referred_by?
        &ndash;
        == #{t :referred_by_small} #{lead.referred_by}

    %dt
      = stars_for(lead)
      |
      - if can?(:read, lead)
        - if lead.email.present?
          = link_to_email(lead.email)
          |
        - if lead.phone.present?
          == #{t :phone_small}:
          %b= lead.phone
          |
        - if lead.mobile.present?
          == #{t :mobile_small}:
          %b= lead.mobile
          |
      = t(:added_ago, value: timeago(lead.created_at)).html_safe

    - if lead.tag_list.present?
      %dt
        .tags= tags_for_index(lead)

    = hook(:lead_bottom, self, :lead => lead) {}
