= simple_form_for(@lead, :html => one_submit_only.update(:class => "form-horizontal", :multipart=>true), :remote => true) do |f|
  = link_to_close new_lead_path
  = f.hidden_field :user_id
  = hidden_field_tag "campaign", "#{@campaign.id if @campaign}"

  = f.error_messages :object_name => t('lead'), :class => 'alert alert-block alert-danger'

  -#%section.panel
  -#  = file_field_tag :file
  -#  = submit_tag "Import CSV"

  %section.panel
    .panel-body
      = render "leads/top_section",    :f => f
      = render "fields/edit_custom_field_group", :f => f
      = render "leads/status",         :f => f
      = render "leads/contact",        :f => f
      = render "leads/creditcard",     :f => f, :edit => true
      = render "shared/add_comment",   :f => f
      = render "leads/web",            :f => f
      = render "fields/groups",        :f => f
      = render "entities/permissions", :f => f, :entity => @lead
      = hook(:entity_form, self, {f: f, entity: @lead}) {}

    .panel-footer
      - if Setting.compound_address
        = f.submit t(:create_lead), :onclick => "crm.clear_all_hints()", :class => "btn btn-primary"
      - else
        = f.submit t(:create_lead), :class => "btn btn-primary"
      = link_to_cancel new_lead_path, :class => "btn btn-danger"
