= fields_for(@opportunity) do |o|
  = o.hidden_field :user_id
  = o.hidden_field :access
  = o.hidden_field :assigned_to
  = o.hidden_field :campaign_id
  = o.hidden_field :source
  .subtitle #{t :opportunity}
  %small
    #{t(:create_opp_for_contact, @lead.full_name)}
  .form-group
    %label.col-lg-2.control-label #{t :name}:
    .col-lg-3
      = o.text_field :name, :class => "form-control"
    %label.col-lg-2.control-label #{t :stage}:
    .col-lg-3
      = o.select :stage, Setting.unroll(:opportunity_stage), { :selected => @opportunity.stage ? @opportunity.stage.to_sym : nil }, { :style => "width:160px", :class => "form-control" }

  .form-group
    %label.col-lg-1.control-label #{t :close_date}:
    .col-lg-2
      = o.text_field :closes_on, :autocomplete => :off, :class => 'crm-date-picker form-control'
    %label.col-lg-1.control-label #{t :probability}:
    .col-lg-2
      = o.text_field :probability, :style => "text-align:right;", :class => "form-control"
    %label.col-lg-2.control-label #{t :amount} #{t :currency}:
    .col-lg-1
      = o.text_field :amount, :style => "text-align:right;", :class => "form-control"
    %label.col-lg-2.control-label #{t :discount} #{t :currency}:
    .col-lg-1
      = o.text_field :discount, :style => "text-align:right;", :class => "form-control"
