.profile-widget.profile-widget-info.follow-info
  .panel-body#summary

    %div.col-lg-4
      %h4= h(@lead.full_name)
      - if !@lead.title.blank? && !@lead.company.blank?
        -# works_at: "{{job_title}} at {{company}}"
        %div= t(:works_at, :job_title => @lead.title, :company => @lead.company)
      - else
        %div= @lead.title unless @lead.title.blank?
        %div= @lead.company unless @lead.company.blank?

      %div= render "shared/address_show", :asset => @lead, :type => 'business', :title => :address

      %div
        - if @lead.phone.present?
          == #{t(:home_phone)}:
          - if @lead.do_not_call
            %b
              = content_tag(:strike, @lead.phone)
          - else
            %b
              = link_to  dial_path(:id => @lead.id, :phone => @lead.phone, :dialTo => "lead"), :remote => true do
                = h(@lead.phone)
            == <br/>
        - if @lead.mobile.present?
          == #{t( :mobile_phone)}:
          - if @lead.do_not_call
            %b
              = content_tag(:strike, @lead.mobile)
          - else
            %b
              = link_to  dial_path(:id => @lead.id, :phone => @lead.mobile, :dialTo => "lead"), :remote => true do
                = h(@lead.mobile)
            == <br/>
        - if @lead.work_phone.present?
          == #{t( :work_phone)}:
          - if @lead.do_not_call
            %b
              = content_tag(:strike, @lead.work_phone)
          - else
            %b
              = link_to  dial_path(:id => @lead.id, :phone => @lead.work_phone, :dialTo => "lead"), :remote => true do
                = h(@lead.work_phone)
            == <br/>
        - if @lead.other_phone.present?
          == #{t( :other_phone)}:
          - if @lead.do_not_call
            %b
              = content_tag(:strike, @lead.other_phone)
          - else
            %b
              = link_to  dial_path(:id => @lead.id, :phone => @lead.other_phone, :dialTo => "lead"), :remote => true do
                = h(@lead.other_phone)
            == <br/>
        - if @lead.email.present?
          == #{t :email}: <b>#{link_to_email(@lead.email)}</b><br />
        - if @lead.date_of_birth.present?
          == Date of Birth: <b>#{@lead.date_of_birth}</b><br />
        - if @lead.alt_email.present?
          == #{t :other}: <b>#{link_to_email(@lead.alt_email)}</b><br />
      = web_presence_icons(@lead)
    %div.col-lg-8
      .caption
        %h4
          #{t :lead_summary}
      %div.col-lg-6
        %p
          #{t :status}:
          = t(@lead.status, :default => :n_a)
      %div.col-lg-6
        %p
          #{t :source}:
          = t(@lead.source, :default => :n_a)
      %div.col-lg-2
        %p
          #{t :rating}:
          %span{:style => "float:right;"}= stars_for(@lead)
      %div.col-lg-4
      %div.col-lg-6
        %p
          #{t :referred_by}:
          = @lead.referred_by ? truncate(@lead.referred_by, :length => 16) : t(:n_a)
      %div.col-lg-6
        %p
          #{t :assigned_to}:
          = @lead.assigned_to ? truncate(@lead.assignee.full_name, :length => 16) : nil
      %div.col-lg-6
        %p
          #{t :campaign}:
          - if @lead.campaign
            = link_to(truncate(@lead.campaign.name, :length => 16), @lead.campaign, :title => @lead.campaign.name)
          - else
            #{t :n_a}
      %div.col-lg-6
        %p
          #{t :contact}:
          - if @lead.contact
            = link_to(truncate(@lead.contact.name, :length => 16), @lead.contact, :title => @lead.contact.name)
          - else
            #{t :n_a}

      - unless @lead.background_info.blank?
        %div.col-lg-12
          %p
            .caption #{t :background_info}
            = auto_link(simple_format @lead.background_info).html_safe

