%div.container-fluid
  %div.row
    %div.col-sm-12.col-md-8.col-lg-9
      %nav.navbar.navbar-default.visible-on-phone{:role => "navigation"}
        .navbar-header
          %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse",  "data-target" => ".navbar-ex1-collapse"}
            %span.sr-only= "Toggle navigation"
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand
            %span
              = h(@lead.full_name)
            = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

        .collapse.navbar-collapse.navbar-ex1-collapse
          = view_buttons
          #confirm{ hidden }
          %ul.nav.navbar-nav.navbar-right#menu
            - unless %w(converted rejected).include?(@lead.status)
              %li= link_to_inline(:convert_lead, convert_lead_path(@lead), :text => t(:convert), :class => "btn")
            %li= link_to_inline(:edit_lead, edit_lead_path(@lead), :text => t(:edit), :class => "btn")
            - if @lead.status != "rejected"
              %li= link_to_function(t(:reject) + '?', confirm_reject(@lead), :class => "btn")
            %li= link_to_function(t(:delete) + '?', confirm_delete(@lead), :class => "btn")
    %div.col-sm-0.col-md-4.col-lg-3
      %nav.navbar.navbar-default.visible-on-phone{:role => "navigation"}
        .navbar-header
          %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse",  "data-target" => ".navbar-ex1-collapse"}
            %span.sr-only= "Toggle navigation"
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand
            %span
              = h("Lead Scroll")
            = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")
%div#convert_lead{ hidden }
%div#edit_lead.col-sm-12.col-md-8.col-lg-9{ hidden }
