
= hook(:lead_top_section, self, :f => f) do
  .form-group
    %label.col-lg-2.control-label{ :class => "#{Setting.require_first_names ? 'req' : nil}" } #{t :first_name}:
    .col-lg-3
      = f.text_field :first_name, :class => "form-control"
    %label.col-lg-2.control-label{ :class => "#{Setting.require_last_names ? 'req' : nil}" } #{t :last_name}:
    .col-lg-3
      = f.text_field :last_name, :class => "form-control"
  .form-group
    %label.col-lg-2.control-label #{t :email}:
    .col-lg-3
      = f.text_field :email, :class => "form-control"
    %label.col-lg-2.control-label Date Of Birth
    .col-lg-3
      = f.text_field :date_of_birth, :class => "form-control datepicker"
    %script
      $(document).ready(function() { $(".datepicker").datepicker(); });

  .form-group
    %label.col-lg-2.control-label Home phone:
    .col-lg-3
      = f.text_field :phone, :class => "form-control"
    %label.col-lg-2.control-label Mobile phone:
    .col-lg-3
      = f.text_field :mobile, :class => "form-control"

  .form-group
    %label.col-lg-2.control-label Work phone:
    .col-lg-3
      = f.text_field :work_phone, :class => "form-control"
    %label.col-lg-2.control-label Other phone:
    .col-lg-3
      = f.text_field :other_phone, :class => "form-control"

  - if Setting.background_info && Setting.background_info.include?(:lead)
    .form-group
      %label.col-lg-2.control-label #{t :background_info}:
      .col-lg-3
        = f.text_field :background_info, :class => "form-control"

  .form-group
    = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

  = hook(:lead_top_section_bottom, self, :f => f) {}
