= styles_for :lead

= render 'entities/title_bar'

.remote#create_lead{ hidden }

= render 'search'

.remote#options{ hidden }

.panel.panel-default
  .panel-body
    %ul.list-group#leads
      - if @leads.any?
        = render @leads
      - else
        = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
