- if (template = template_for_current_view)
  = render(template, :lead => @lead)
- else

  -# default view

  = styles_for :task

  = render 'leads/title_bar', :lead => @lead
  
  %div.container-fluid
    %div.row
      %div.col-sm-12.col-md-8.col-lg-9
        .panel.panel-default
          .panel-body
            = render "leads/summary"

            = render "comments/new", :commentable => @lead
            = render :partial => "shared/timeline", :collection => @timeline

            = hook(:show_lead_bottom, self, {entity: @lead}) do

              = render :partial => "tasks/tasks", :locals => {:object => @lead}

              = render :partial => "versions/versions", :locals => {:object => @lead}

              -#= load_select_popups_for(@lead, :tasks)
      %div.col-sm-0.col-md-4.col-lg-3
        .panel.panel-default
          .panel-body
            - if Lead.assigned_to(current_user).any?
              = render :partial => "leads/scroll", :locals => {:leads => Lead.assigned_to(current_user)}
