- amount = account.opportunities.not_lost.map(&:weighted_amount).sum
%li.list-group-item.highlight[account]
  - if account.category
    %span.label{:class => account.category} #{t(account.category)}
  - else
    %span.label{:style => "color: gray;"} #{t :other}

  %span
    = link_to(h(account.name), account)
    &ndash;
    %tt
      = account.location << ", " unless account.location.blank?
      - user_name = account.user.try(:full_name)
      - if user_name
        = t(:added_by, :time_ago => timeago(account.created_at), :user => h(user_name)).html_safe
      - else
        = t(:added_ago, :value => timeago(account.created_at)).html_safe

    - unless current_user.preference[:accounts_index_view] == "accounts_index_brief"
      %dt
        = link_to(account.website, account.website.to_url) << " | " if account.website.present?
        = link_to_email(account.email) << " | " if account.email.present?
        = t(:phone_small) << ": " << (account.toll_free_phone || account.phone) << " | " if account.toll_free_phone? || account.phone?
        = t('pluralize.contact', account.contacts.count) << " | "
        = t('pluralize.opportunity', account.opportunities.count)
      - if account.tags.any?
        %dt
          .tags= tags_for_dashboard(account)
      = hook(:account_bottom, self, :account => account) {}
