%li.list-group-item.highlight[task]
  - unless task.category.blank?
    %span.label{:class => task.category}= t(task.category)
  - else
    %span.label.white #{t :other}
  %span
    %label{ :id => dom_id(task, :name) }
      - if task.user.id != current_user.id
        = t(:task_from, link_to(task.user.full_name, user_path(task.user))).html_safe << ':'
      = link_to(h(task.name), tasks_path)
      - if task.asset_id?
        == #{t :related} #{link_to(h(task.asset.name), polymorphic_url(task.asset))}
      &ndash;
    %tt
      - if task.bucket == "due_asap"
        %span.urgent= t(:task_due_now)

      - elsif task.bucket == "due_later"
        = t(:task_due_later)

      - else
        - if task.due_at.nil?
          = t(:task_due_later)
        - elsif task.at_specific_time?
          - if task.due_at < Time.now
            %span.warn
              = distance_of_time_in_words(task.due_at, Time.now)
              = t(:task_overdue)
              = l(task.due_at.localtime, :format => :mmddhhss)
          - else
            = t(:task_due_in, distance_of_time_in_words(Time.now, task.due_at))
            = '(' << l(task.due_at.localtime, :format => :mmddhhss) << ')'

        - else
          - if task.due_at < Date.today
            %span.warn
              = distance_of_time_in_words(task.due_at, Time.now)
              = t(:task_overdue)
              = l(task.due_at.localtime.to_date, :format => :mmdd)
          - elsif task.due_at > Date.today
            = t(:task_due_in, distance_of_time_in_words(Time.now, task.due_at.localtime.end_of_day))
            = ' (' << l(task.due_at.localtime.to_date, :format => :mmdd) << ')'
          - else
            %span.cool= t(:task_due_today)

    - unless task.background_info.blank?
      %div
        %dt= h(task.background_info)
