
= styles_for :task, :opportunity, :account

.panel.panel-default
  .panel-body
    .title
      %span#title #{t :my_tasks}
    %ul.list-group#tasks
      - unless @my_tasks.empty?
        = render :partial => "home/task", :collection => @my_tasks.limit(10)
        = show_hidden_entities_message(@my_tasks.count, 'task', 10)
      - else
        #{t :no_task_records}

    .title
      %span#title #{t :my_opportunities}
    %ul.list-group#opportunities
      - unless @my_opportunities.empty?
        = render :partial => "home/opportunity", :collection => @my_opportunities.limit(10)
        = show_hidden_entities_message(@my_opportunities.count, 'opportunity', 10)
      - else
        #{t :no_opportunity_records}

    .title
      %span#title #{t :my_accounts}
    %ul.list-group#accounts
      - unless @my_accounts.empty?
        = render :partial => "home/account", :collection => @my_accounts.limit(10)
        = show_hidden_entities_message(@my_accounts.count, 'account', 10)
      - else
        #{t :no_account_records}

    .title_tools
      = link_to_inline(:options, url_for(:action => :options), :text => t(:options))

    .title
      %span#title #{t :recent_activity}
      = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")
    .remote#options{ hidden }

    %ul.list-group#activities
      - unless @activities.empty?
        = render :partial => "activity", :collection => @activities
      - else
        #{t :no_activity_records}


    #export= render "shared/export"
