.remote
  = form_for([:admin, @tag], :as => :tag, :html => one_submit_only.merge(:class => "edit_tag form-horizontal", :id => "edit_tag_#{@tag.id}"), :remote => true) do |f|
    = link_to_close edit_admin_tag_path(@tag)
    = f.error_messages :class => 'alert alert-block alert-danger'
    .panel.panel-default
      .panel-body
        = render :partial => "top_section", :locals => { :f => f, :edit => true }
      .panel-footer
        = f.submit t(:save_tag), :id => :tag_submit, :class => 'btn btn-primary'
        = link_to_cancel edit_admin_tag_path(@tag), :class => 'btn btn-danger'
