- path = new_admin_tag_path

= form_for([:admin, @tag], :html => one_submit_only.merge({:class => 'form-horizontal'}), :remote => true) do |f|
  = link_to_close path
  = f.error_messages :class => 'alert alert-block alert-danger'
  .panel.panel-default
    .panel-body
      = render :partial => "top_section", :locals => { :f => f }
    .panel-footer
      = f.submit t(:create_tag), :id => :tag_submit, :class => 'btn btn-primary'
      = link_to_cancel path, :class => 'btn btn-danger'
