= styles_for :tag

%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-ex1-collapse
    = view_buttons
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to_inline(:create_tag, new_admin_tag_path, :text => t(:create_tag), :class => "btn")

  .navbar-header
    %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse",  "data-target" => ".navbar-ex1-collapse"}
      %span.sr-only= "Toggle navigation"
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand
      %span#create_tag_title #{t :tags}
      = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

.remote#create_tag{ hidden }

.panel.panel-default
  .panel-body
    %ul.list-group#tags
      - if @tags.any?
        = render :partial => "admin/tags/tag", :collection => @tags
      - else
        = render "shared/empty"

#export= render "shared/export"
