- edit ||= false
- collapsed = session[:contact_extra].nil? # && @contact.errors.empty?
= subtitle :contact_extra, collapsed, t(:extra_info)
.section
  %small#contact_extra_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:extra_info_small)) unless edit
  #contact_extra{ hidden_if(collapsed) }
    = hook(:contact_extra_details_form, self, :f => f) do
      .form-group
        %label.col-lg-1.control-label #{t :job_title}:
        .col-lg-3
          = f.text_field :title, :class => "form-control"
        %label.col-lg-2.control-label #{t :department}:
        .col-lg-3
          = f.text_field :department, :class => "form-control"
      .form-group
        %label.col-lg-1.control-label #{t :alt_email}:
        .col-lg-3
          = f.text_field :alt_email, :class => "form-control"
        %label.col-lg-2.control-label #{t :mobile}:
        .col-lg-3
          = f.text_field :mobile, :class => "form-control"
      .form-group
        %label.col-lg-1.control-label #{t :phone2}:
        .col-lg-3
          = f.text_field :phone2, :class => "form-control"
      .form-group
        .col-lg-6
          = render "shared/address", :f => f, :asset => @contact, :type => 'business', :title => :address
        .col-lg-6
          .row
            %label.col-lg-1.control-label #{t :fax}:
            .col-lg-5
              = f.text_field :fax, :class => "form-control"
          .row
            .col-lg-6
              = f.check_box :do_not_call, {}, true
              #{t :do_not_call}
