.profile-widget.profile-widget-info.follow-info
  .panel-body#summary
    %div.col-lg-4
      %h4= h(@contact.full_name)
      = account_with_title_and_department(@contact)

      %div= render "shared/address_show", :asset => @contact, :type => 'business', :title => :address

      %div
        - unless @contact.phone.blank?
          == #{t :phone}: 
          -if current_user.extension.nil? or current_user.extension.empty?
            = @contact.do_not_call ? content_tag(:strike, h(@contact.phone)) : h(@contact.phone)
          -else
            - if @contact.do_not_call
              = content_tag(:strike, h(@contact.phone))
            - else
              = link_to  dial_path(:id => @contact.id, :phone => @contact.phone, :dialTo => "contact"), :remote => true do
                = h(@contact.phone)
        - unless @contact.mobile.blank?
          == #{t :mobile}: <b>#{@contact.do_not_call ? content_tag(:strike, h(@contact.mobile)) : h(@contact.mobile)}</b><br />
        - unless @contact.fax.blank?
          == #{t :fax}: <b>#{@contact.do_not_call ? content_tag(:strike, h(@contact.fax)) : h(@contact.fax)}</b><br />
      %div
        - unless @contact.email.blank?
          == #{t :email}: <b>#{link_to_email(@contact.email)}</b><br />
        - unless @contact.alt_email.blank?
          == #{t :alt_email_small}: <b>#{link_to_email(@contact.alt_email)}</b><br />

      -#= web_presence_icons(@contact)

    %div.col-lg-8
      .caption
        %h4
          #{t :contact_summary}
      %div.col-lg-6
        %p
          #{t :assigned_to}:
          = @contact.assigned_to ? truncate(@contact.assignee.full_name, :length => 16) : nil
      %div.col-lg-6
        %p
          #{t :lead}:
          - if @contact.lead
            = link_to(truncate(@contact.lead.name, :length => 16), @contact.lead, :title => @contact.lead.name)
          - else
            #{t :n_a}
      %div.col-lg-6
        %p
          #{t :campaign}:
          - if @contact.lead.try(:campaign)
            = link_to(truncate(@contact.lead.campaign.name, :length => 16), @contact.lead.campaign, :title => @contact.lead.campaign.name)
          - else
            #{t :n_a}

      - unless @contact.background_info.blank?
        .caption #{t :background_info}
        = auto_link(simple_format @contact.background_info).html_safe
