
= hook(:contact_top_section, self, :f => f) do
  .form-group
    %label.col-lg-2.control-label{ :class => "#{Setting.require_first_names ? 'req' : nil}" } #{t :first_name}:
    .col-lg-3
      = f.text_field :first_name, :class => "form-control"
    %label.col-lg-2.control-label{ :class => "#{Setting.require_last_names ? 'req' : nil}" } #{t :last_name}:
    .col-lg-3
      = f.text_field :last_name, :class => "form-control"

  .form-group
    %label.col-lg-2.control-label #{t :email}:
    .col-lg-3
      = f.text_field :email, :class => "form-control"
    %label.col-lg-2.control-label #{t :phone}:
    .col-lg-3
      = f.text_field :phone, :class => "form-control"

  .form-group
    = fields_for(@account) do |a|
      = a.hidden_field :user_id
      = a.hidden_field :assigned_to
      = a.hidden_field :access, :value => Setting.default_access
      != account_select_or_create(a) do |options|
        - # Add [-- None --] account choice when editing existing contact that has an account.
        - options[:include_blank] = "" unless @contact.new_record? || @contact.account.blank?
      %label.control-label #{t :assigned_to}:
      = user_select(:contact, all_users, current_user)

  - if Setting.background_info && Setting.background_info.include?(:contact)
    .form-group
      %label.col-lg-2.control-label #{t :background_info}:
      .col-lg-3
        = f.text_field :background_info, :class => "form-control"

  .form-group
    = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

  = hook(:contact_top_section_bottom, self, :f => f) {}
