- edit ||= false
- collapsed = session[:contact_presence].nil? # && @contact.errors.empty?
= subtitle :contact_presence, collapsed, t(:web_presence)
.section
  %small#contact_presence_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:web_presence_small)) unless edit
  #contact_presence{ hidden_if(collapsed) }
    .form-group
      %label.col-lg-1.control-label #{t :blog}:
      .col-lg-3
        = f.text_field :blog, :class => "form-control"
      %label.col-lg-2.control-label #{t :twitter}:
      .col-lg-3
        = f.text_field :twitter, :class => "form-control"
    .form-group
      %label.col-lg-1.control-label #{t :linked_in}:
      .col-lg-3
        = f.text_field :linkedin, :class => "form-control"
      %label.col-lg-2.control-label #{t :facebook}:
      .col-lg-3
        = f.text_field :facebook, :class => "form-control"
    .form-group
      %label.col-lg-1.control-label #{t :skype}:
      .col-lg-3
        = f.text_field :skype, :class => "form-control"
