= styles_for :contact

= render 'entities/title_bar'

.remote#create_contact{ hidden }

= render "search"

.remote#options{ hidden }

.panel.panel-default
  .panel-body
    %ul.list-group#contacts
      - if @contacts.any?
        = render @contacts
      - else
        = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
