.standalone
  = form_for(@user, :url => password_path(params[:id]), :html => one_submit_only.merge!({:class => 'form-horizontal'}), :method => :put) do |f|
    .panel.panel-default
      .panel-heading
        %label.title #{t :reset_password}

      .panel-body
        = f.error_messages :object_name => t('password'), :class => 'alert alert-block alert-danger'

        %small.intro #{t :confirm_password_intro}
        .panel-body
          %label.control-label.col-lg-2 #{t :new_password}:
          .col-lg-3
            = f.password_field :password, :class => 'form-control'
          %label.control-label.col-lg-2 #{t :password_confirmation}:
          .col-lg-3
            = f.password_field :password_confirmation, :class => 'form-control'
      .panel-footer
        = f.submit t(:update_password_and_login), :class => 'btn btn-primary'
