.standalone
  = form_tag(passwords_path, one_submit_only.merge!({:class => 'form-horizontal'})) do
    .panel.panel-default
      .panel-heading
        %label.title #{t :forgot_password}
      .panel-body
        %small.intro #{t :password_intro}
        .form-group
          %label.control-label.col-lg-1 #{t :email}:
          .col-lg-3
            = text_field_tag :email, nil, :class => 'form-control'
      .panel-footer
        = submit_tag t(:reset_password), :id => "passwords_submit", :class => 'btn btn-primary'
