%li.list-group-item[version]
  .body
    - item_type = version.item_type.underscore.humanize
    - if user = User.find_by_id(version.whodunnit)
      - user_name = user.name
    - else
      - user_name = t('version.anonymous')
    -# If translation doesn't exist, just print event message
    - changeSet = version.changeset
    - if item_type == "Asterisk"
      = t('version.called', :item => changeSet["action"][1].capitalize, :by => user_name, :default => version.event)
    - elsif t('version.' + version.event, :default => 0) != 0
      = t('version.' + version.event, :item => item_type, :by => user_name, :default => version.event)
    - else
      = auto_link(version.event).html_safe

    %small= timeago(version.created_at).html_safe
    - if item_type == "Asterisk"
      %tt
        == <br/>
        Call from ext #{User.find_by_id(changeSet[:user_id][1]).extension} to #{changeSet["phone_number"][1]}
        == <br/>
        #{changeSet["success"][1] ? "Success" : "Failed"} with Message: #{changeSet["message"][1]}
    - else
      %tt
        - version.changeset.each do |attr_name, change|
          - label, first, second = parse_version(attr_name, change)
          = render :partial => 'versions/version_item', :locals => {:label => label, :first => first, :second => second}
