.panel.panel-default#versions
  .panel-body
    - collapsed = session[:version_history].nil?
    = subtitle(:version_history, collapsed, t(:versions))
    %div
      %div{ hidden_if(collapsed) }
        %ul.list-group
          - leadVersions = Version.history(object)
          - callVersions = Version.where(:item_type => "Asterisk")
          - collections = (leadVersions + callVersions).sort_by &:id
          - versions = collections.reverse.paginate(:page => 1, :per_page => 20)
          = render :partial => "versions/version", :collection => versions

        = paginate( collection: versions, id: 'versions_pagination', params: { action: 'versions' } )
