= form_for([:admin, @field_group], :html => one_submit_only.merge(:class => "form-horizontal"), :remote => true) do |f|
  = link_to_close edit_admin_field_group_path(@field_group)
  = f.error_messages :class => 'alert alert-block alert-danger'
  .panel.panel-default
    .panel-body
      = render :partial => "top_section", :locals => { :f => f, :edit => true }
    .panel-footer
      = f.submit t(:save_field_group), :id => :field_group_submit, :class => 'btn btn-primary'
      = link_to_cancel edit_admin_field_group_path(@field_group), :class => 'btn btn-danger'
