- path = new_admin_field_group_path(:klass_name => @field_group.klass_name)

= form_for([:admin, @field_group], :html => one_submit_only.merge(:class => "form-horizontal"), :remote => true) do |f|
  = link_to_close path
  = f.error_messages :class => 'alert alert-block alert-danger'
  .panel.panel-default
    .panel-body
      = render :partial => "top_section", :locals => { :f => f }
    .panel-footer
      = f.submit t(:create_field_group), :id => :field_group_submit, :class => 'btn btn-primary'
      = link_to_cancel path, :class => 'btn btn-danger'
