.form-group
  = f.hidden_field :klass_name
  %label.col-lg-2.control-label #{t :label}:
  .col-lg-3
    = f.text_field :label, :class => "form-control"
  %label.col-lg-2.control-label #{t :restrict_by_tag}
  %small= t(:restrict_by_tag_info, :assets => f.object.klass_name.downcase.pluralize)
  .col-lg-3
    = f.select :tag_id, Tag.all.map { |tag| [tag.name, tag.id] }, {}, {:include_blank => true, :class => 'form-control'}
