// Copyright (c) 2008-2013 Michael Dvorkin and contributors.
//
// Fat Free CRM is freely distributable under the terms of MIT license.
// See MIT-LICENSE file or http://www.opensource.org/licenses/mit-license.php
//------------------------------------------------------------------------------

//= require jquery
//= require jquery_ujs
//= require jquery-ui
//= require jquery.nicescroll
//= require jquery-migrate-1.0.0
//= require bootstrap
//= require bootstrap-switch
//= require bootstrap-wysiwyg
//= require bootstrap-wysiwyg-custom
//= require select2
//= require crm
//= require crm_classes
//= require crm_loginout
//= require crm_tags
//= require crm_sortable
//= require textarea_autocomplete
//= require crm_textarea_autocomplete
//= require ajax-chosen-jquery
//= require crm_chosen
//= require crm_select2
//= require ransack_ui_jquery
//= require search
//= require lists
//= require autocomplete-rails
//= require datepicker
//= require jquery.disable
//= require admin/fields
//= require format_buttons
//= require crm_comments
//= require jquery_timeago
//= require timeago
//= require pagination
//= require scripts
//= require bootstrap-datepicker
//= require_self

<%
Gem.loaded_specs.keys.grep(/^ffcrm_/).each do |plugin|
  require_asset(plugin) rescue Sprockets::FileNotFound
end
%>
