= simple_form_for(@opportunity, :html => one_submit_only.update(:class => "form-horizontal"), :remote => true) do |f|
  = link_to_close edit_opportunity_path(@opportunity)
  = f.hidden_field :user_id
  = f.hidden_field :campaign_id

  = f.error_messages :object_name => t('opportunity'), :class => 'alert alert-block alert-danger'

  %section.panel
    .panel-body
      = render "opportunities/top_section", :f => f, :edit => true
      = render "fields/edit_custom_field_group", :f => f, :edit => true
      = render "fields/groups",             :f => f, :edit => true
      = render "entities/permissions",      :f => f, :edit => true, :entity => @opportunity
      = hook(:entity_form, self, {f: f, entity: @opportunity}) {}

    .panel-footer
      = f.submit t(:save_opportunity), :onclick => %/$("#account_assigned_to").val($("#opportunity_assigned_to").val());/, :class => "btn btn-primary"
      = link_to_cancel edit_opportunity_path(@opportunity), :class => "btn btn-danger"
