.panel.panel-default
  .panel-body
    = section(object, :opportunities)
    %ul.list-group#opportunities
      - opportunities = object.opportunities.order('updated_at desc').paginate(:page => 1, :per_page => 20)
      = render :partial => "opportunities/opportunity", :collection => opportunities

= paginate( collection: opportunities, id: 'opportunities_pagination', params: { action: 'opportunities' } )
