= hook(:opportunity_top_section, self, :f => f) do
  .form-group
    %label.col-lg-2.control-label #{t :name}:
    .col-lg-3
      = f.text_field :name, :class => "form-control"
    %label.col-lg-2.control-label #{t :stage}:
    .col-lg-3
      = f.select :stage, @stage, { :selected => @opportunity.stage ? @opportunity.stage.to_sym : nil }, { :class => "form-control" }

  .form-group
    %label.col-lg-2.control-label #{t :close_date}:
    .col-lg-3
      -if f.object.closes_on == nil
        = f.text_field :closes_on, :value => f.object.closes_on, :autocomplete => :off, :class => 'crm-date-picker form-control'
      -else
        = f.text_field :closes_on, :value => f.object.closes_on.strftime("%m/%d/%Y"), :autocomplete => :off, :class => 'crm-date-picker form-control'
    %label.col-lg-2.control-label #{t :probability}:
    .col-lg-3
      = f.text_field :probability, :style => "text-align:right;", :class => "form-control"
  .form-group
    %label.col-lg-2.control-label #{t :amount} #{t :currency}:
    .col-lg-3
      = f.text_field :amount, :style => "text-align:right;", :class => "form-control"
    %label.col-lg-2.control-label #{t :discount} #{t :currency}:
    .col-lg-3
      = f.text_field :discount, :style => "text-align:right;", :class => "form-control"

  .form-group
    %label.col-lg-2.control-label #{t :assigned_to}:
    .col-lg-3
      = user_select(:opportunity, all_users, current_user)
    %label.col-lg-2.control-label #{t :campaign}:
    .col-lg-3
      = opportunity_campaign_select( selected: (@campaign.try(:id) || @opportunity.campaign_id), include_blank: true )

  .form-group
    = fields_for(@account) do |a|
      = a.hidden_field :user_id
      = a.hidden_field :access
      = a.hidden_field :assigned_to
      != account_select_or_create(a) do |options|
        -# Add [-- None --] account choice when editing existing opportunity that has an account.
        - options[:selected] = @account.id || 0
        - options[:include_blank] = true #t(:select_none) unless @opportunity.new_record? || @opportunity.account.blank?

    - if Setting.background_info && Setting.background_info.include?(:opportunity)
      %label.col-lg-2.control-label #{t :background_info}:
      .col-lg-3
        = f.text_area :background_info, :style =>"width:500px", :rows => 3

  = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

  = hook(:opportunity_top_section_bottom, self, :f => f) {}