= styles_for :opportunity

= render 'entities/title_bar'

.remote#create_opportunity{ hidden }

= render 'search'

.remote#options{ hidden }

.panel.panel-default
  .panel-body
    %ul.list-group#opportunities
      - if @opportunities.any?
        = render @opportunities
      - else
        = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"

= hook(:opportunity_index_after, self) {}
