.remote
  = form_for([:admin, @group], :html => one_submit_only.merge({:autocomplete => 'off', :class => 'form-horizontal'}), :remote => true) do |f|
    = link_to_close edit_admin_group_path(@group)

    = f.error_messages :object_name => t('group'), :class => 'alert alert-block alert-danger'

    .panel.panel-default
      .panel-body
        = render "admin/groups/form", :f => f, :edit => true

      .panel-footer
        = f.submit t(:save_group), :class => 'btn btn-primary'
        = link_to_cancel edit_admin_group_path(@group), :class => 'btn btn-danger'
