.form-group
  %label.col-lg-2.control-label #{t :name}:
  .col-lg-3
    = f.text_field :name, :class => "form-control"
  %label.col-lg-2.control-label #{t :users}:
  .col-lg-3
    = f.select :user_ids, User.all.map {|u| [u.full_name, u.id]}, {}, :multiple => true, :class => 'select2', :class => "form-control"
