
= form_for([:admin, @group], :html => one_submit_only.merge({:autocomplete => 'off', :class => 'form-horizontal'}), :remote => true) do |f|
  = link_to_close new_admin_group_path

  = f.error_messages :object_name => t('group'), :class => 'alert alert-block alert-danger'

  .panel.panel-default
    .panel-body
      = render "admin/groups/form", :f => f

    .panel-footer
      = f.submit t(:create_group), :class => 'btn btn-primary'
      = link_to_cancel new_admin_group_path, :class => 'btn btn-danger'
