= styles_for :group

%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-ex1-collapse
    = view_buttons
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to_inline(:create_group, new_admin_group_path, :text => t(:create_group), :class => "btn")

  .navbar-header
    %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse",  "data-target" => ".navbar-ex1-collapse"}
      %span.sr-only= "Toggle navigation"
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand
      %span#create_group_title #{t :groups}
      = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

.remote#create_group{ hidden }

.panel.panel-default
  .panel-body
    %ul.list-group#groups
      - if @groups.any?
        = render :partial => "group", :collection => @groups
      - else
        = render "shared/empty"

#paginate= render "shared/paginate"
