%li.list-group-item.clearfix[campaign]
  %span.label{:class => campaign.status}= t(campaign.status)

  %span.pull-right
    - if can?(:update, campaign)
      = link_to_edit(campaign)

    - if can?(:destroy, campaign)
      = link_to_delete(campaign)

  %span
    = link_to(campaign.name, campaign)
    = render "campaigns/status", :campaign => campaign

    = render "campaigns/metrics", :campaign => campaign
    - if campaign.tag_list.present?
      %dt
        .tags= tags_for_index(campaign)

    = hook(:campaign_bottom, self, :campaign => campaign) {}
