= simple_form_for(@campaign, :html => one_submit_only.update(:class => "form-horizontal"), :remote => true) do |f|
  = link_to_close new_campaign_path
  = f.hidden_field :user_id

  = f.error_messages :object_name => t('campaign'), :class => 'alert alert-block alert-danger'

  %section.panel
    .panel-body
      = render "campaigns/top_section", :f => f
      = render "fields/edit_custom_field_group", :f => f
      = render "shared/add_comment", :f => f
      = render "campaigns/objectives",  :f => f
      = render "fields/groups",         :f => f
      = render "entities/permissions",  :f => f, :entity => @campaign
      = hook(:entity_form, self, {f: f, entity: @campaign}) {}

    .panel-footer
      = f.submit t(:create_campaign), :class => "btn btn-primary"
      = link_to_cancel new_campaign_path, :class => "btn btn-danger"
