- edit ||= false
- collapsed = session[:campaign_objectives].nil? # && @campaign.errors.empty?
= subtitle :campaign_objectives, collapsed, t(:objectives)
.section
  %small#campaign_objectives_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:objectives_small)) unless edit
  #campaign_objectives{ hidden_if(collapsed) }
    %small
      #{t :objectives_help}
    .form-group
      %label.col-lg-1.control-label #{t :number_of_leads}:
      .col-lg-1
        = f.text_field :target_leads, :style => "width:110px; text-align:right;", :class => "form-control"
      %label.col-lg-2.control-label #{t :conversion_label}:
      .col-lg-1
        = f.text_field :target_conversion, :style => "width:110px; text-align:right;", :class => "form-control"
      %label.col-lg-2.control-label #{t :revenue_label}:
      .col-lg-1
        = f.text_field :target_revenue, :value => @campaign.target_revenue ? @campaign.target_revenue.to_i : "", :style => "width:110px; text-align:right;", :class => "form-control"
      %label.col-lg-2.control-label #{t :budget_label}:
      .col-lg-1
        = f.text_field :budget, :value => @campaign.budget ? @campaign.budget.to_i : "", :style => "width:110px; text-align:right;", :class => "form-control"
    .form-group
      %label.col-lg-2.control-label #{t :objectives}:
      .col-lg-5
        = f.text_area :objectives, :style => "width:500px", :rows => 2, :class => "form-control"
