= hook(:campaign_top_section, self, :f => f) do
  .form-group
    %label.col-lg-2.control-label #{t :name}:
    .col-lg-3
      = f.text_field :name, :class => "form-control"
  .form-group
    %label.col-lg-2.control-label #{t :start_date}:
    .col-lg-1
      -if f.object.starts_on == nil
        = f.text_field :starts_on, :value => f.object.starts_on, :style => "width:110px", :autocomplete => :off, :class => 'crm-date-picker form-control'
      -else
        = f.text_field :starts_on, :value => f.object.starts_on.strftime("%m/%d/%Y"), :style => "width:110px", :autocomplete => :off, :class => 'crm-date-picker form-control'
    %label.col-lg-2.control-label #{t :end_date}:
    .col-lg-1
      -if f.object.ends_on == nil
        = f.text_field :ends_on, :value => f.object.ends_on, :style => "width:110px", :autocomplete => :off, :class => 'crm-date-picker form-control'
      -else
        = f.text_field :ends_on, :value => f.object.ends_on.strftime("%m/%d/%Y"), :style => "width:110px", :autocomplete => :off, :class => 'crm-date-picker form-control'
    %label.col-lg-2.control-label #{t :end_date}:
    .col-lg-1
      = f.select :status, Setting.unroll(:campaign_status), { :selected => (@campaign.status || "planned").to_sym }, { :style => "width:110px", :class => "form-control" }

  - if Setting.background_info && Setting.background_info.include?(:campaign)
    %label.col-lg-2.control-label #{t :background_info}:
    .col-lg-4
      = f.text_area :background_info, :rows => 3

  = render :partial => "/shared/tags", :locals => {:f => f, :span => 5}

  = hook(:campaign_top_section_bottom, self, :f => f) {}
