= styles_for :campaign

= render 'entities/title_bar'

.remote#create_campaign{ hidden }

= render 'search'

.remote#options{ hidden }

.panel.panel-default
  .panel-body
    %ul.list-group#campaigns
      - if @campaigns.any?
        = render @campaigns
      - else
        = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
