/*
 * Copyright (c) 2008-2013 Michael Dvorkin and contributors.
 *
 * Fat Free CRM is freely distributable under the terms of MIT license.
 * See MIT-LICENSE file or http://www.opensource.org/licenses/mit-license.php
 *------------------------------------------------------------------------------
 */

/*

 *= require bootstrap.min.css
 *= require bootstrap-theme
 *= require elegant-icons-style
 *= require line-icons
 *= require owl.carousel
 *= require style
 *= require style-responsive
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 *= require chosen
 *= require datepicker
 *= require_self

 */

<%
Gem.loaded_specs.keys.grep(/^ffcrm_/).each do |plugin|
  require_asset(plugin) rescue Sprockets::FileNotFound
end
%>


div.asterisk-container {
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 5px 15px;
}

div.asterisk-item {
	margin: 5px 10px;
	background: white;
	border: solid 1px grey;
	box-shadow: 2px 2px 2px;
	padding: 5px 15px;
	position: relative;
}

span.asterisk-close {
	position: absolute;
	top: 0px;
	right: 5px;
	cursor: pointer;
}

.col-sm-0 {
	display: block;
}

.no-padding-left {
	padding-left: 0;
}

@media only screen and (max-width: 991px) {
	.col-sm-0 {
		display: none;
	}
}
