- truncated = truncate(email.body_without_textile.to_s.gsub("\n", " "), :length => 125 - email.subject.to_s.size)
- formatted = email.body
- mediator = email.mediator

%li.list-group-item.clearfix[email]
  %span
    = link_to avatar_for(email.user, :size => :small), user_path(email.user)
  %span.pull-right
    - if can?(:destroy, mediator)
      = link_to_delete(email)

  %span
    - if can?(:read, mediator)
      %tt
        - if email.sent_to.to_s.include?(", ")
          = "To: ".html_safe << email.sent_to
        - else
          = "To ".html_safe << link_to_email(email.sent_to)
        = "from ".html_safe << link_to_email(email.sent_from) << ", sent on ".html_safe
        = l(email.sent_at, :format => :mmddhhss)
        = " | ".html_safe + link_to_function(email.collapsed? ? t(:more) : t(:less), "crm.flip_note_or_email(this, '#{t(:more)}', '#{t(:less)}')", :class => "toggle")

      %dt{ hidden_if(email.expanded?), :id => dom_id(email, :truncated) }
        %p
          = h(email.subject)
          %tt= (" - " << truncated).html_safe

      %dt.textile{ hidden_if(email.collapsed?), :id => dom_id(email, :formatted) }
        .email_content
          %p= h(email.subject)
          = auto_link(formatted)
