.remote
  = form_for([:admin, @user], :html => one_submit_only.merge({:autocomplete => 'off', :class => 'form-horizontal'}), :remote => true) do |f|
    = link_to_close edit_admin_user_path(@user)

    = f.error_messages :object_name => t('user'), :class => 'alert alert-block alert-danger'

    .panel.panel-default
      .panel-body
        = render "admin/users/profile", :f => f, :edit => true
      .panel-footer
        = f.submit t(:save_user), :class => 'btn btn-primary'
        = link_to_cancel edit_admin_user_path(@user), :class => 'btn btn-danger'
