
= form_for([:admin, @user], :html => one_submit_only.merge({:autocomplete => 'off', :class => 'form-horizontal'}), :remote => true) do |f|
  = link_to_close new_admin_user_path

  = f.error_messages :object_name => t('user'), :class => 'alert alert-block alert-danger'

  .panel.panel-default
    .panel-body
      = render "admin/users/profile", :f => f
    .panel-footer
      = f.submit t(:create_user), :class => 'btn btn-primary'
      = link_to_cancel new_admin_user_path, :class => 'btn btn-danger'
