- edit ||= false
.form-group
  %label.col-lg-2.control-label #{t :username}:
  .col-lg-3
    = f.text_field :username, :class => "form-control"
  %label.col-lg-2.control-label #{t :email}:
  .col-lg-3
    = f.text_field :email, :class => "form-control"
.form-group
  %label.col-lg-2.control-label #{t :password}:
  .col-lg-3
    = f.password_field :password, :class => "form-control"
  %label.col-lg-2.control-label #{t :password_confirmation}:
  .col-lg-3
    = f.password_field :password_confirmation, :class => "form-control"
.form-group
  .check_box.col-lg-offset-2.col-lg-10
    -# Sorry, you can't revoke Admin rights from yourself.
    = f.check_box(:admin, { :disabled => edit && @user == current_user })
    %label{:for => 'user_admin'}
      = t(:user_is_admin)

.subtitle #{t :personal_information}
.form-group
  %label.col-lg-2.control-label #{t :first_name}:
  .col-lg-3
    = f.text_field :first_name, :class => "form-control"
  %label.col-lg-2.control-label #{t :last_name}:
  .col-lg-3
    = f.text_field :last_name, :class => "form-control"
.form-group
  %label.col-lg-2.control-label #{t :job_title}:
  .col-lg-3
    = f.text_field :title, :class => "form-control"
  %label.col-lg-2.control-label #{t :company}:
  .col-lg-3
    = f.text_field :company, :class => "form-control"
.form-group
  %label.col-lg-2.control-label #{t :extension}:
  .col-lg-3
    = f.text_field :extension, :class => "form-control"

.subtitle #{t :group_memberships}
.form-group
  %label.col-lg-2.control-label #{t :groups}:
  .col-lg-3
    = f.select :group_ids, Group.all.map {|g| [g.name, g.id]}, {}, :multiple => true, :class => 'select2 form-control'
