= styles_for :user

%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-ex1-collapse
    = view_buttons
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to_inline(:create_user, new_admin_user_path, :text => t(:create_user), :class => "btn")

  .navbar-header
    %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse",  "data-target" => ".navbar-ex1-collapse"}
      %span.sr-only= "Toggle navigation"
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand
      %span#create_user_title #{t :users}
      = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

.remote#create_user{ hidden }

%ul.list-group#users= render :partial => "admin/users/user", :collection => @users
#paginate= render "shared/paginate"
#export= render "shared/export"
