- field_group.fields.without_pairs.in_groups_of(2, false) do |group|
  .form-group
    - group.each_with_index do |field, i|
      .col-lg-12
        - if field.hint.present?
          = image_tag "info_tiny.png", :title => field.hint, :class => "tooltip-icon"
        - if field.as == 'check_boxes'
          - value = f.object.send(field.name)
          - checked = YAML.load(value.to_s)
        = f.input field.name, field.input_options.merge({:checked => checked, :input_html => { :class => 'form-control'} })
      - if i == 0
        %br
