%header.header.white-bg
  .toggle-nav
    .icon-reorder.tooltips{"data-original-title" => "Toggle Navigation", "data-placement" => "bottom"}
      %i.fa{class: "fa-reorder"}
  = link_to root_path, :class => "logo" do
    = "CRM"
    %span= "CC"
  .top-nav.notification-row
    %ul.nav.pull-right.top-menu
      - if current_user
        %li.dropdown
          = link_to "#", :class => "dropdown-toggle", "data-toggle" => "dropdown" do
            %span.profile-ava
              = image_tag(path_to_image("avatar1_small.jpg"))
            %span.username #{current_user.name}
            %b.caret
          %ul.dropdown-menu.extended.logout
            .log-arrow-up
            %li.eborder-top
              = link_to profile_path do
                %i.icon_profile
                #{t(:profile)}
            - if current_user.admin?
              %li
                = link_to admin_path do
                  %i.icon_folder-open_alt
                  #{t(:admin)}
            %li
              = link_to logout_path, :method => :delete do
                %i.icon_key_alt
                #{t(:logout)}
      - else
        %li
          = link_to(t(:login), login_path)
        %li
          = link_to(t(:sign_up), signup_path) if can_signup?
        %li
          = link_to(t(:about), "#", :title => t(:about_ffc), :onclick => "$('#about').dialog({ title: this.title, modal: true }); return false;")
