%aside
  .nav-collape#sidebar{:tabindex => "5000", :style => "overflow: hidden; outline: none; margin-left: 0px;" }
    %ul.sidebar-menu
      - tabs.each do |tab|
        %li
          = link_to(tab[:url], :class => tab[:active] ? "active" : nil) do
            %i.fa{class: tab[:icon]}
            = t(tab[:text])

%section#main-content
  %section.wrapper
    = show_flash
    = yield
    -#%table{ :cellpadding => 0, :cellspacing => 0, :class => :tabbed }
      -#%tr
        -#%td
        -#  = render "layouts/sidebar"
        -#%td
          -#= yield
