- edit ||= false
- collapsed = (@account.errors.empty? && session[:account_contact].nil?)
= subtitle :account_contact, collapsed, t(:contact_info)
.section
  %small#account_contact_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:account_small)) unless edit
  #account_contact{ hidden_if(collapsed) }
    .form-group
      %label.col-lg-1.control-label #{t :phone_toll_free}:
      .col-lg-2
        = f.text_field :toll_free_phone, :class => "form-control"
      %label.col-lg-1.control-label #{t :phone}:
      .col-lg-2
        = f.text_field :phone, :class => "form-control"
      %label.col-lg-1.control-label #{t :fax}:
      .col-lg-2
        = f.text_field :fax, :class => "form-control"
    .form-group
      %label.col-lg-1.control-label #{t :website}:
      .col-lg-3
        = f.text_field :website, :class => "form-control"
      %label.col-lg-2.control-label Email:
      .col-lg-3
        = f.text_field :email, :class => "form-control"
    .form-group
      .col-lg-6
        = render "shared/address", :f => f, :asset => @account, :type => :billing, :title => :billing_address
      .col-lg-6
        = render "shared/address", :f => f, :asset => @account, :type => :shipping, :title => :shipping_address, :same_as_billing => true
