- edit ||= false
- collapsed = (@account.errors.empty? && session[:account_contact].nil?)
= subtitle :membership, collapsed, t(:membership)
.section
  %small#membership_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:membership_small)) unless edit
  #membership{ hidden_if(collapsed) }
    .form-group
      %label.col-lg-2.control-label #{t :subscription_type}:
      .col-lg-3
        = f.select :subscription_type, Setting.unroll(:account_subscription_type), { :selected => (@account.subscription_type || "other").to_sym, :include_blank => t(:other) }, { :class => "form-control" }

      %label.col-lg-2.control-label #{t :subscription_status}:
      .col-lg-3
        = f.select :subscription_status, Setting.unroll(:account_subscription_status), { :selected => (@account.subscription_status || "other").to_sym, :include_blank => t(:other) }, { :class => "form-control" }
    .form-group
      %label.col-lg-2.control-label #{t :subscription_price}:
      .col-lg-3
        = f.text_field :subscription_price, :style => "text-align:right;", :class => "form-control"

      %label.col-lg-2.control-label #{t :first_bill_date}:
      .col-lg-3
        -if f.object.first_bill_date == nil
          = f.text_field :first_bill_date, :value => f.object.first_bill_date, :autocomplete => :off, :class => "crm-date-picker form-control"
        -else
          = f.text_field :first_bill_date, :value => f.object.first_bill_date.strftime("%m/%d/%Y"), :autocomplete => :off, :class => "crm-date-picker form-control"
    .form-group
      %label.col-lg-2.control-label #{t :next_bill_date}:
      .col-lg-3
        -if f.object.next_bill_date == nil
          = f.text_field :next_bill_date, :value => f.object.next_bill_date, :autocomplete => :off, :class => "crm-date-picker form-control"
        -else
          = f.text_field :next_bill_date, :value => f.object.next_bill_date.strftime("%m/%d/%Y"), :autocomplete => :off, :class => "crm-date-picker form-control"

      %label.col-lg-2.control-label #{t :paid_through_date}:
      .col-lg-3
        -if f.object.paid_through_date == nil
          = f.text_field :paid_through_date, :value => f.object.paid_through_date, :autocomplete => :off, :class => "crm-date-picker form-control"
        -else
          = f.text_field :paid_through_date, :value => f.object.paid_through_date.strftime("%m/%d/%Y"), :autocomplete => :off, :class => "crm-date-picker form-control"
