= simple_form_for(@account, :html => one_submit_only.update(:class => "form-horizontal"), :remote => true) do |f|
  = link_to_close new_account_path
  = f.hidden_field :user_id
  = f.hidden_field :id_client
  = f.error_messages :object_name => t('account'), :class => 'alert alert-block alert-danger'

  %section.panel
    .panel-body
      = render "accounts/top_section",  :f => f
      = render "fields/edit_custom_field_group", :f => f
      = render "shared/add_comment", :f => f
      = render "accounts/contact_info", :f => f
      = render "accounts/membership", :f => f
      = render "fields/groups",  :f => f
      = render "entities/permissions",  :f => f, :entity => @account
      = hook(:entity_form, self, {f: f, entity: @account}) {}

    .panel-footer
      - if Setting.compound_address
        = f.submit t(:create_account), :onclick => "crm.clear_all_hints()", :class => "btn btn-primary"
      - else
        = f.submit t(:create_account), :class => "btn btn-primary"
      = link_to_cancel new_account_path, :class => "btn btn-danger"
