- won = @account.opportunities.won.map(&:amount).compact.sum
- lost = @account.opportunities.lost.map(&:amount).compact.sum
- pipeline = @account.opportunities.pipeline.map(&:weighted_amount).compact.sum

.profile-widget.profile-widget-info.follow-info
  .panel-body#summary
    .row
      %div.col-lg-4
        - if @account.website
          %div
            %p
              %b= link_to(truncate(@account.website, :length => 30), @account.website.to_url, :"data-popup" => true, :title => t(:open_in_window, @account.website))
        - if @account.email.present?
          %div
            %p
              %b= link_to_email(@account.email, 30)

        %div
          - if @account.toll_free_phone
            %p
              #{t :phone_toll_free}: <b>#{@account.toll_free_phone}</b><br />

          - if @account.phone
            %p
              #{t :phone}: <b>#{@account.phone}</b><br />

          - if @account.fax
            %p
              #{t :fax}: <b>#{@account.fax}</b><br />

        %div= render "shared/address_show", :asset => @account, :type => 'billing', :title => :billing_address
        %div= render "shared/address_show", :asset => @account, :type => 'shipping', :title => :shipping_address


      %div.col-lg-8
        .caption
          %h4
            #{t :account_summary}
        %div.col-lg-6
          %p
            #{t :account_type}:
            = t(@account.account_type)
        %div.col-lg-6
          %p
            #{t :first_bill_date}:
            - if @account.first_bill_date != nil
              = @account.first_bill_date.strftime("%m/%d/%Y")
        %div.col-lg-6
          %p
            #{t :subscription_type}:
            = t(@account.subscription_type)
        %div.col-lg-6
          %p
            #{t :paid_through_date}:
            - if @account.paid_through_date != nil
              = @account.paid_through_date.strftime("%m/%d/%Y")
        %div.col-lg-6
          %p
            #{t :subscription_price}:
            = @account.subscription_price != 0.0 ? number_to_currency(@account.subscription_price, :precision => 0) : t(:n_a)
        %div.col-lg-6
          %p
            #{t :next_bill_date}:
            - if @account.next_bill_date != nil
              = @account.next_bill_date.strftime("%m/%d/%Y")
        %div.col-lg-6
          %p
            #{t :assigned_to}:
            =@account.assigned_to ? truncate(@account.assignee.full_name, :length => 16) : nil

    - unless @account.background_info.blank?
      %div.col-lg-12
        %p
          .caption #{t :background_info}
          = auto_link(simple_format @account.background_info).html_safe
