%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse",  "data-target" => ".navbar-ex1-collapse"}
      %span.sr-only= "Toggle navigation"
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand
      %span
        = h(@account.name)
      = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

  .collapse.navbar-collapse.navbar-ex1-collapse
    = view_buttons
    #confirm{ hidden }
    %ul.nav.navbar-nav.navbar-right#menu
      %li= link_to_inline(:edit_account, edit_account_path(@account), :text => t(:edit), :class => "btn")
      %li= link_to_function(t(:delete) + '?', confirm_delete(@account), :class => "btn")

%div#edit_account{ hidden }
