= hook(:account_top_section, self, :f => f) do
  .form-group
    %label.col-lg-2.control-label #{t :name}:
    .col-lg-3
      = f.text_field :name, :class => "form-control"
  .form-group
    %label.col-lg-2.control-label #{t :assigned_to}:
    .col-lg-2
      = user_select(:account, User.except(current_user), current_user)
    %label.col-lg-2.control-label #{t :category}:
    .col-lg-2
      = f.select :category, Setting.unroll(:account_category), { :selected => (@account.category || "other").to_sym, :include_blank => t(:other) }, { :class => "form-control" }
  .form-group
    %label.col-lg-2.control-label #{t :account_type}:
    .col-lg-3
      = f.select :account_type, Setting.unroll(:account_type), { :selected => (@account.account_type || "other").to_sym, :include_blank => t(:other) }, { :class => "form-control" }
    %label.col-lg-1.control-label #{t :county}:
    .col-lg-3
      = f.text_field :county, :class => "form-control"

  - if Setting.background_info && Setting.background_info.include?(:account)
    %label.col-lg-2.control-label #{t :background_info}:
    .col-lg-4
      = f.text_area :background_info, :rows => 3

  = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

  = hook(:account_top_section_bottom, self, :f => f) {}
