= styles_for :account

= render 'entities/title_bar'

.remote#create_account{ hidden }

= render 'search'

.remote#options{ hidden }

.panel.panel-default
  .panel-body
    %ul.list-group#accounts
      - if @accounts.any?
        = render @accounts
      - else
        = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
